<h1>Students</h1>

<%= link_to 'Join new course',courses_path, class:"btn btn-light"%>

<ul>
<h3>Joined Courses</h3>


  <% @students.each do |student| %>
    <li><%= student.name  %></li>
  
  <% end %>

</ul>