


<div class="container space">
  <div class="row">
    <div class="col-8 ">
     <%= link_to 'Add new course', new_course_path,class:"btn btn-dark" %>
     <br/>
     <h4 class="space d-flex" > Your Courses</h4>
<ul>
  <% @instructors.each do |instructor| %>
   
  
    <li><%= instructor.name %></li>

  <% end %>
</ul>

    </div>
    
    
  </div>
</div>

<% 
=begin
%>
<ul>
  <% @instructors.each do |instructor| %>
    <li><%= instructor.name %></li>
  <% end %>
</ul>
<%
=end
%>